* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: inherit;
}

*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(29, 50, 143);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.btn {
  padding: 10px;
  border-radius: 3%;
  border: 3px solid;
  border-color: black;
}
